@page "/inventories"
@inject NavigationManager NavigationManager;


@using IMS.WebApp.Controls;

<h3>InventoryList</h3>
<br />
<SearchInventoryComponent onSearchInventory="OnInventtorySearch"></SearchInventoryComponent>
<br />
<InventoryListComponent SearchTerm="@searchTerm"></InventoryListComponent>
<br />
<button type="button" class="btn btn-primary" @onclick="AddInventory">Add Inventory</button>

@code {
    private string searchTerm = string.Empty;

    private void OnInventtorySearch(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }

    private void AddInventory() => NavigationManager.NavigateTo("/addInventory");
}
